<% include _header %>
<div>
<h1>Register User</h1>
<form action="/registerUser" method="post">
    <input name="name" type="text" class="form-control " placeholder="Name" required autofocus>
    <input name="password" type="password" class="form-control form-check-input" placeholder="Password" required>
    <input name="phone" type="number" class="form-control form-check-input" placeholder="Phone" required>
    <input name="email" type="email" class="form-control form-check-input" placeholder="Email" required> 
    <input type="submit" value="Sign up medicene" class="btn btn-primary btn-block">
</form>
</div>
<% include _footer %>